.link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }

    [data-mantine-color-scheme] &[data-active] {
        background-color: var(--mantine-color-blue-filled);
        color: var(--mantine-color-white);
    }
}

.brandName {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.main {
    padding-bottom: rem(120px);
    z-index: 2;
}

.link {
    text-decoration: none;
}

.space {
    height: rem(200px);
}

.dropDown {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}